body {
  margin: 10px;
  padding: 10px;
}

#photoViewer {
  padding: 20px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex: 1;
}

.link {
  margin: 10px;
  border: 5px solid red;
  padding: 10px;
  border-radius: 25px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.photo {
  margin: 20px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.title {
  text-align: center;
}